.col-4{
	box-shadow: 0px 1px 50px 0px gray;
}

	.imgpro{
		width: 100%;
		background-color: white;
		border: ;
		margin: 10px;
		 font-family: 'Quicksand', sans-serif;
		 box-shadow: 
	}
	.line{
		background-color:  red;
		color: red;
	}
	.btn {
  background-color: #ED1E6CFF;
  padding: 15px;
  margin-right: 0px;
  color: white;
  border-radius: 0px;
  border: 0px solid;
  font-size: 24px;
}
.btn:hover{
	background-color: red;
}
.btn a{
  color: white;
  text-decoration: none;
}
.btn a:hover{
  text-decoration: none;
  color: white;
}
	.col-4{
		
		
	background: 
    /* top, transparent red */ 
     white;
	opacity:;
	background-repeat: no-repeat;
	color: white;
	
	background-size: cover;

	}
	.col-10{
		background-color: orangered;
	}